.about {
  @media screen and (max-width: 830px) {
    border: 0.5px gray solid;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 100px whitesmoke;

    background-color: white;
    margin-top: 100px;

    padding-top: 35px;
    padding-bottom: 35px;

    margin-left: 20px;
    margin-right: 20px;

    :first-child {
      p {
        padding-bottom: 30px;
      }
    }

    :last-child {
      img {
        padding-top: 30px;
      }
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 35px;
      }

      h4 {
        margin: 15px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px;
      }

      p {
        margin: 0px;
      }
    }

    &__card--middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;

      text-align: center;

      width: 70vw;

      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;

      padding-top: 20px;
      padding-bottom: 20px;

      img {
        width: 35px;
      }

      h4 {
        margin: 15px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px;
      }

      p {
        margin: 0px;
      }
    }

    &__card--end {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 35px;
      }

      h4 {
        margin: 15px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px;
      }

      p {
        margin: 0px;
      }
    }
  }

  @media screen and (min-width: 831px) and (max-width: 1310px) {
    border: 0.5px gray solid;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 100px whitesmoke;

    background-color: white;

    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    // padding: 3vw;

    width: 70vw;
    transform: translate(0px, -120px);

    padding: 30px;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20vw;
      margin-bottom: 0px;

      img {
        width: 4vw;
      }

      h4 {
        margin: 15px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.8vw;
        width: 210px;
        text-align: center;
      }

      p {
        margin: 0px;
        font-size: 1.8vw;
      }
    }

    &__card--middle {
      display: flex;
      flex-direction: column;
      align-items: center;

      border-left: 1px lightgray solid;
      border-right: 1px lightgray solid;

      padding: 50px;
      padding-top: 0px;
      padding-bottom: 0px;

      img {
        width: 4vw;
      }

      h4 {
        margin: 15px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.8vw;
        width: 25vw;
        text-align: center;
      }

      p {
        margin: 0px;
        font-size: 1.8vw;
      }
    }

    &__card--end {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20vw;
      margin-bottom: 0px;

      img {
        width: 4vw;
      }

      h4 {
        margin: 15px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 2vw;
        width: 200px;
        text-align: center;
      }

      p {
        margin: 0px;
        font-size: 1.8vw;
      }
    }
  }

  @media screen and (min-width: 1310px) and (max-width: 1935px) {
    border: 0.5px gray solid;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 100px whitesmoke;

    background-color: white;

    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    gap: 100px;
    padding: 70px;
    padding-top: 35px;
    padding-bottom: 35px;

    width: fit-content;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 35px;
      }

      h4 {
        margin: 15px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px;
      }

      p {
        margin: 0px;
      }
    }

    &__card--middle {
      display: flex;
      flex-direction: column;
      align-items: center;

      border-left: 1px lightgray solid;
      border-right: 1px lightgray solid;

      padding: 50px;
      padding-top: 0px;
      padding-bottom: 0px;

      img {
        width: 35px;
      }

      h4 {
        margin: 15px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px;
      }

      p {
        margin: 0px;
      }
    }

    &__card--end {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 35px;
      }

      h4 {
        margin: 15px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px;
      }

      p {
        margin: 0px;
      }
    }
  }
}
