.subscribe {
  @media screen and (max-width: 956px) {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 30px;

    &__banner {
      display: none;
    }

    &__info {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1,
      p {
        font-family: Arial, Helvetica, sans-serif;
        width: 80vw;
      }

      p {
        margin-bottom: 30px;
      }

      &__email {
        display: flex;
        align-items: center;
      }

      input {
        padding: 10px;
        border-radius: 10px;
        height: 30px;
        width: 80vw;
      }

      button {
        text-align: center;
        width: 100px;
        padding: 10px;
        height: 40px;
        background-color: #9831c0;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        margin-bottom: 35px;
        font-size: 12px;

        transform: translate(32vw, -46px);
      }
    }
  }

  @media screen and (min-width: 957px) and (max-width: 1019px) {
    display: flex;
    gap: 15vw;
    align-items: center;
    height: 320px;
    width: 90vw;

    background-color: rgb(34, 34, 34);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 100px;

    &__banner {
      width: 100px;
      transform: translate(70px, 0px);
    }

    &__info {
      color: white;
      h1 {
        font-size: 5vw;
        margin-bottom: 0px;
        padding: 0px;
      }
      p {
        width: 60vw;
        margin-bottom: 40px;
      }
      input {
        padding: 10px;
        border-radius: 10px;
        width: 400px;
        height: 30px;
      }

      button {
        text-align: center;
        width: 150px;
        padding: 10px;
        height: 40px;
        background-color: #9831c0;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        margin-bottom: 35px;

        transform: translate(-16vw, 1px);
      }
    }
  }

  @media screen and (min-width: 1020px) and (max-width: 1935px) {
    width: fit-content;
    height: fit-content;
    padding-right: 100px;

    display: flex;
    gap: 150px;
    align-items: center;
    height: 320px;
    width: 900px;

    background-color: rgb(34, 34, 34);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 200px;

    &__banner {
      width: 100px;
      transform: translate(100px, 0px);
    }

    &__info {
      color: white;
      h1 {
        font-size: 45px;
        margin-bottom: 0px;
        padding: 0px;
      }
      p {
        width: 700px;
        margin-bottom: 40px;
      }
      input {
        padding: 10px;
        border-radius: 10px;
        width: 400px;
        height: 30px;
      }

      button {
        text-align: center;
        width: 150px;
        padding: 10px;
        height: 40px;
        background-color: #9831c0;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        margin-bottom: 35px;

        transform: translate(-155px);
      }
    }
  }
}
